.main-container{
  height: 100vh;
}


mat-sidenav {
  width: 14.375em;
    /* background: linear-gradient(180deg, rgba(60,9,84,1) 100%, rgba(84,24,113,1) 100%);
    textColor: white; */
}

/* .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
    height: 48px;

    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
} */

.app-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;

}

.app-header {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 600px) {
  .app-container {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
  }
}
