<mat-card class="card">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      O tempo Limite da Api foi atingido. Atualize a página novamente.
    </div>
  </div>
  <h2 class="cor-h2">Itinerário:  ID da Linha: {{ idLinha }} /  código: {{codigo}}  /  Nome: {{ nome }}</h2>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container> -->

    <!-- Progress Column -->
    <ng-container matColumnDef="lat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitutde </th>
      <td mat-cell *matCellDef="let row"> {{row.lat}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lng">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </th>
      <td mat-cell *matCellDef="let row"> {{row.lng}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
      <td mat-cell *matCellDef="let row"><button matTooltip="ver no google maps" (click)="posicaoMaps(row)" mat-icon-button aria-label="Example icon-button with a location icon">
        <mat-icon color="primary">place</mat-icon></button> </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</mat-card>
