<mat-card class="card">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      O tempo Limite da Api foi atingido. Atualize a página novamente.
    </div>
  </div>
  <h2 class="cor-h2">Itinerário linha: {{idLinha}}  / código : {{codigo}}  /  nome : {{nome}} </h2>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort>


    <!-- latitude Column -->
    <ng-container matColumnDef="lat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitude </th>
      <td mat-cell *matCellDef="let row"> {{row?.lat}} </td>
    </ng-container>

    <!-- longitude Column -->
    <ng-container matColumnDef="lng">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </th>
      <td mat-cell *matCellDef="let row"> {{row?.lng}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
      <td mat-cell *matCellDef="let row"><button matTooltip="consultar google maps" (click)="irParaMaps(row)" mat-icon-button aria-label="Example icon-button with a maps icon">
        <mat-icon color="primary">place</mat-icon></button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</mat-card>
